.contact-container{
    box-sizing: border-box;
}


.contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:540px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-page form{
    position: relative;
    border-radius: 8px; 
    padding: 2%;
    transition: all ease-in 0.2s;
}
.contact-page form::before{
    content:"";
    position: absolute;
    background:inherit;
}
.form-group{
    z-index:3;
    margin:2% 0px 0px 15.25%;/*trbl*/
    width:70%;
}
.btn{
    /* margin-top: 3%; */
    margin: 3% 0px 0px 10.25%;/*trbl*/
    width:80%
}
label span{
    color: rgb(252, 126, 126);
}
.trans-res-anime{
    transition: transform ease-in 0.9s;
    transform:scale(1) !important;
    
}
@media (max-width:768px){
    .response
    {
        left:5vw ;
        top:50vh ;
        width: 350px ;
        height:150px ;
        font-size: 15px ;
    }
}