@import url('https://fonts.googleapis.com/css2?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Courgette');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main{
    user-select: none;
    width:100%;
    height: 100%;
}
nav{
    display: flex;
    position: absolute;
    width: 100%;
    height:70px;
    justify-content: space-between;
}
section{
    width:100%;
    /* border: 1px solid black; */
    min-height:550px;
    overflow:hidden;
    /* overflow: visible !important; */
}
.home{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left bottom, #fff5f5, #fff5f5, #fff5f5, #fef4f4, #fef4f4, #fef5f5, #fdf6f7, #fdf7f8, #fdf9fb, #fdfbfd, #fefdfe, #ffffff);
    /* background-image: linear-gradient(to left bottom, #fff5f5, #fdf4f4, #fbf3f3, #f9f2f2, #f7f1f1, #f7f2f2, #f7f3f3, #f7f4f4, #f9f7f7, #fbfafa, #fdfcfd, #ffffff); */
    /* background-image: linear-gradient(to left bottom, #d8eaf4, #d9ebf3, #dbebf3, #dcecf2, #deecf2, #e0edf2, #e2edf3, #e4eef3, #e7f0f4, #eaf1f5, #edf3f5, #f0f4f6); */
    /* background-image: linear-gradient(to bottom left, #f4e7de, #f5e8e6,#f5e8e6,#f5e8e6,#f5e8e6, #f2eaec, #eeeeee86); */
}
.home-right{
    height:450px;
}

.home-right>div{
    width:80%;
    font-size: 1.2em;
    font-family:'Courgette';
    margin-right: 10%;
    height: 30%;
    text-align: left;
    /* border: 1px solid brown; */
}
.home-right div p{
    margin-bottom: 4%;
}
@media screen and (min-width:768px){
    .left,.right{
        flex:1
    }
    .home-right{
        height:auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-right>div{
        width:75%;
        font-size: 18px;
        font-family:'Courgette';
        height: 30%;
        text-align: left;
        /* border: 1px solid brown; */
    }
    .home-right div p{
        margin-bottom: 3%;
    }
}
.btn-prim-outline{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 3%; */
    width:120px !important;
    height: 35px !important;
    transition:all ease-in 0.2s;
}
/* @keyframes reel {
    0%{
        
        transform:translateX(-360px) translateY(-90px) rotate(-60deg);
    }
    100%{
        transform:translateX(-10px) translateY(110px) rotate(-60deg);
    }
}*/
.pic-div-flex{
    /* animation-name: reel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function:ease-in-out;
    animation-delay: 0s; */
    
    width: 350px;
    height:600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform:translateX(-10px) translateY(110px) rotate(-60deg);
}
.pic-div-flex div{
    margin: 2%;
    border-radius: 5px;
    width:150px;
    height:200px;
    /* border: 1px solid brown; */
}
.pic-div-flex div img{
    object-fit: cover;
    height: 100%;
}

@media screen and (max-width:768px) {
    .home-left{
        height:150px;
    }
    .pic-div-flex{
        width: 250px;
        height:350px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        transform:translateX(200px) translateY(-150px) rotate(60deg);
        /* transform:; */
        /* border: 1px solid brown; */
    }
    .pic-div-flex div{
        margin: 2%;
        border-radius: 5px;
        width:100px;
        /* height:200px; */
        /* border: 1px solid brown; */
    }
    .pic-div-flex div img{
        object-fit: cover;
    }
    
}