.services-container{
    width:100%;
    min-height:600px;
}
.services-box{
    margin-bottom: 20%;
    width: 100%;
    min-height:500px;
}
.services-box>div{
    min-height:300px;
}
.services-left>div{
    /* width:90%; */
    height:90%;
}

.services-right>div{
    width:85%;
}
.services-right h1{
    /* font-size: 25px; */
}